numpy==1.19.2
zarr==2.4.0
pandas==1.0.5
simplejson==3.17.2
msgpack==1.0.0
fastapi==0.61.1
uvicorn[standard]==0.11.8
msgpack-asgi==1.0.0
orjson==3.4.0
Jinja2==2.11.2
blosc==1.9.2
zstd==1.4.5.1
pytest==6.1.1
requests==2.24.0
pathos==0.2.6
# cloud-volume==3.1.0
tensorstore==1.19.2
