numpy==1.20.3
zarr==2.11.0
pandas==1.2.4
simplejson==3.17.6
msgpack==1.0.3
fastapi==0.74.1
uvicorn[standard]==0.17.5
msgpack-asgi==1.1.0
orjson==3.6.7
Jinja2==2.11.3
blosc==1.10.6
zstd==1.5.1.0
pytest==6.2.4
requests==2.27.1
pathos==0.2.8
tensorstore==0.1.17
# cloud-volume==3.12.0
