numpy==1.20.3
zarr==2.8.1
pandas==1.2.4
simplejson==3.17.2
msgpack==1.0.2
fastapi==0.65.1
uvicorn[standard]==0.13.4
msgpack-asgi==1.0.0
orjson==3.5.2
Jinja2==2.11.3
blosc==1.10.2
zstd==1.4.9.1
pytest==6.2.4
requests==2.25.1
pathos==0.2.7
tensorstore==0.1.10
cloud-volume==3.12.0
